{
  "passPerPreset": true,
  "presets": [
    "next/babel",
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ],
        "next/babel"
      ]
    }
  }
}