{
  "presets": [
    "@babel/preset-env",
    "next/babel"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs"
          }
        ],
        "next/babel"
      ]
    }
  }
}