.idea
.next
.tscache
.eslint
coverage
es6
lib
node_modules
npm-debug*
out
types
lerna-debug.log

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*